<script>
  window.config = window.config || {};
  window.config.maker_words = '<%= raw %w( systems programs software websites things solutions ).to_json %>';
  window.config.tools_words = '<%= raw ["Ruby", "Ruby on Rails", "Sinatra", "RSpec", "HTML", "SCSS", "JavaScript", "AJAX", "jQuery", "JRuby", "CoffeScript", "C++", "Java", "Bash", "PHP", "JSON/XML", "Redis", "PostgreSQL", "Vim", "Git", "Laravel", "Wordpress"].to_json %> '
</script>


<div id="splash-screen" class="section">
  <span class="inner-text">
    <span class="keyword"></span><span class="other-words"></span>
  </span>

  <a href="#maker-of-things" class="next-section">
    <span class="icon-arrow-down"></span>
    <span>More</span>
  </a>
</div>

<div id="maker-of-things" class="section">
  <span class="inner-text">I'm a maker of</span>
  <span class="keyword"></span>

  <a href="#make-things-with" class="next-section">
    <span class="icon-arrow-down"></span>
    <span>More</span>
  </a>
</div>

<div id="make-things-with" class="section">
  <span class="inner-text">I make things with</span>
  <span class="keyword"></span>

  <a href="#things-made" class="next-section">
    <span class="icon-arrow-down"></span>
    <span>More</span>
  </a>
</div>

<div id="things-made" class="section">
  <div class="inner-section">
	  <span class="inner-text"> Here are some things I've made.</span>

	  <ul class="project-wrapper">
	    <style>
	      #fridge { background: url(/images/fridge-cover.jpg); }
	      #fridge:hover { background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(/images/fridge-cover.jpg); }
	    </style>

	    <a target="_blank" href="https://github.com/dhahn/r13-team-45">
	      <li id="fridge" class="projects">
					<p> October 2013, Personal </p>
					<h2> Fridge </h2>
					<p class="tags"> Skills: Ruby on Rails, Javascript, Postgres </p>
	      </li>
	    </a>

	  </ul>
	</div>

  <a href="#details" class="next-section">
    <span class="icon-arrow-down"></span>
    <span>More</span>
  </a>
</div>

<div id="details" class="section">
  <span class="inner-text"> Everything else. </span>
  <ul class="icon-wrapper">
    <a target="_blank" href="https://twitter.com/extremedavidh"> <li class="icon"> <span class="icon-twitter"></span> </li> </a>
    <a target="_blank" href="https://github.com/dhahn"> <li class="icon"> <span class="icon-github"></span> </li> </a>
    <a target="_blank" href="https://www.facebook.com/davidmhahn"> <li class="icon"> <span class="icon-facebook"></span> </li> </a>
    <a target="_blank" href="https://www.linkedin.com/pub/david-hahn/78/438/448"> <li class="icon"> <span class="icon-linkedin2"></span> </li> </a>
    <a target="_blank" href="http://www.pandora.com/profile/davidmichaelhahn"> <li class="icon"> <span class="icon-headphones"></span> </li> </a>
    <a target="_blank" href="#still-to-come"> <li class="icon"> <span class="icon-pencil"></span> </li> </a>
    <a target="_blank" href="mailto:davidmichaelhahn@gmail.com"> <li class="icon"> <span class="icon-mail"></span> </li> </a>
    <a target="_blank" href="https://www.google.com/calendar/embed?src=david%4040digits.com&ctz=America/Chicago"> <li class="icon"> <span class="icon-calendar"></span> </li> </a>
  </ul>
</div>
