<!DOCTYPE html>
<html>
  <head>
    <title>Admin Section</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href='https://fonts.googleapis.com/css?family=Lato:100,400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="<%= request.base_url %>/favicon.ico">
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  </footer>
</html>
